<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <style>
:root {
  --wwwebring-background: #fdfdfd;
  --wwwebring-border: 1px solid #ccc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background: #cce8cc;
  font-family: Georgia, serif;
  font-size: 15px;
  line-height: 1.5;
}

.center-column {
  max-width: 50rem;
  margin-inline: auto;
}

.page {
  border-top: 6px ridge #dcd;
  border-left: 6px ridge #dcd;
  border: 6px ridge #dcd;
  /* border-right: 6px ridge #bab;
  box-shadow: 1px 1px #ccc; */
  background: #f6f0ff;
  padding-block: 2rem;
  padding-inline: 1rem;
}

@media (min-width: 750px) {
  .page {
    margin-block: 3rem;
    padding-block: 4rem;
    padding-inline: 4rem;
  }
}

article {
  text-align: justify;
}

article > :first-child {
  margin-block-start: 0;
}

article > :last-child {
  margin-block-end: 0;
}

p, ul, ol, blockquote {
  margin-block: 1em;
}

:is(ul, ol) :is(ul, ol) {
  margin-block: 0;
}

ul, ol {
  padding-inline-start: 2em;
}

h1, h2, h3, h4, h5, h6 {
  margin-block-start: 1.5em;
  margin-block-end: 0.5em;
}

h1 {
  font-size: 175%;
  text-align: center;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 125%;
}

h4 {
  font-size: 110%;
}

h5 {
  font-size: 100%;
}

h6 {
  font-size: 90%;
}

hr {
  margin-block: 2rem;
  border: inset 1px #ccc;
}

center-text {
  display: block;
  text-align: center;
}

blockquote {
  padding-inline: 2em;
  font-style: italic;
}

blockquote :is(i, em) {
  font-style: normal;
}

nav {
  text-align: center;
}

a {
  text-decoration-color: #0008;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.3em;
}

a:visited {
  color: #305;
}

nav.phat {
  margin-block: 2rem;
}

.phat a {
  text-decoration: none;
  display: inline-block;
  padding: 3px 18px;
  background: hsl(290, 41%, 45%);
  color: #fff;
  border: 2px outset hsl(290, 41%, 65%);
}

pre {
  overflow-x: auto;
  border: 1px solid #ddd;
  background: #fff;
  padding: 0.5em;
  font-size: 0.95em;
}

    </style>
  </head>
  <body>
    <main class="center-column">
      <div class="page">
        <article>
          {{content}}
        </article>
        <nav class="phat">
          {{home}}
        </nav>
        <hr/>
        <p class="colophon">© 2024–whenever, <a href="https://benchristel.com">Ben Christel</a></p>
      </div>
    </main>
  </body>
</html>
